:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body {
    padding-top: 48px;
    width: calc(100vw / 2.15);
    min-width: 348px;
    margin: 0 auto;
}

:any-link {
    color: forestgreen;
}

:any-link:hover {
    opacity: 0.8;
}
